<% include ../partials/Header %>
<div class="container">
    <h1> <br><b>Midterm Exam</b></h1>
    <div class="jumbotron">
        <h1 class="display-4">Product database</h1>
        <p class="lead">by Tarit Petnu</p>
        <hr class="my-4">
        <p>More info</p>
        <a class="btn btn-primary btn-lg" href="/Products" role="button">Let's Get Started</a>
    </div>
</div>
<% include ../partials/Footer %>